on early-init
    mount debugfs debugfs /sys/kernel/debug mode=755

    mount none /system/etc /etc bind rec  # docker fix

    symlink /system/bin /bin

    # Mount binderfs
    mkdir /dev/binderfs
    mount binder binder /dev/binderfs stats=global
    chmod 0755 /dev/binderfs

    symlink /dev/binderfs/binder /dev/binder
    symlink /dev/binderfs/hwbinder /dev/hwbinder
    symlink /dev/binderfs/vndbinder /dev/vndbinder

    chmod 0666 /dev/binderfs/hwbinder
    chmod 0666 /dev/binderfs/binder
    chmod 0666 /dev/binderfs/vndbinder

    # 32bit app require this, remove for 64bit only redroid
    write /proc/sys/kernel/pid_max 65535

    # inputflinger require this dir
    mkdir /dev/input

    exec - root root -- /vendor/bin/gpu_config.sh


# setup overlay data partition
on early-init && property:ro.kernel.redroid.overlay=1
    mkdir /data-diff/upper
    rmdir /data-diff/work
    mkdir /data-diff/work

    mount overlay overlay /data lowerdir=/data-base,upperdir=/data-diff/upper,workdir=/data-diff/work


on init
    # lxcfs better
    write /data/.empty 0
    mount none /data/.empty /proc/vmallocinfo bind

    # fix suspend host system?
    mount none /dev/null /sys/power/state bind

    # use updated swiftshader, disable gpu pixel buffer first
    # reenable if use mesa
    setprop debug.hwui.use_gpu_pixel_buffers false


on post-fs-data
    # fix for static IP, must after post-fs-data and before netd
    exec - system system -- /vendor/bin/ipconfigstore v2

    # no need to mount, and encryption not supported yet
    trigger nonencrypted

on boot && property:qemu.gles.vendor=mesa
    setprop debug.hwui.use_gpu_pixel_buffers true

