on early-init
    # Mount binderfs
    mkdir /dev/binderfs
    mount binder binder /dev/binderfs
    chmod 0755 /dev/binderfs
    exec -- /vendor/bin/binder_alloc /dev/binderfs/binder-control binder hwbinder vndbinder

    symlink /dev/binderfs/binder /dev/binder
    symlink /dev/binderfs/hwbinder /dev/hwbinder
    symlink /dev/binderfs/vndbinder /dev/vndbinder
